[2016-02-25 06:20] VOID001 opened #1 "Contest Ranklist格式问题"
AC时间显示的格式问题
: 前后好像有空格
觉得那个AC时间格式固定位 00:00:00 就行，不要出现12:1:12这种，空位用0补齐，12:01:12，看起来能整齐一些
如果判断是1A的话，就不用显示那个(0)了
bottom和left的border没有线了啊
![image](https://cloud.githubusercontent.com/assets/6134883/13311638/e9eefd0a-dbca-11e5-84c9-63ed7a4082fd.png)

[2016-02-25 07:02] catsworld opened #2 "Status的Result下拉列表问题"
下拉列表中没有Compile Error，建议检查一遍所有的Result类型。

[2016-02-25 07:32] VOID001 opened #3 "Judgehost Bugs"
Judgehost will give unexpected "Compile Error" Message some time, Rejudge might get the correct result , Compile.out will get message` /bin/ld: cannot open output file program: Permission denied
 `

[2016-02-25 09:15] NEU20133823 opened #4 "[Urgent!!!]比赛的前端计时器的时间和后端的时间不同步"
如果在比赛开始之前登陆进去比赛，那么比赛开始后还是看不了题，必须退出账号再进去才能看

[2016-02-25 09:16] akxxsb opened #5 "希望可以在ranklist页面添加一个problem链接"
#希望可以在ranklist页面添加一个problem链接

[2016-02-25 09:25] VOID001 commented on #1
@su526664687 @DYS1230

[2016-02-25 09:25] VOID001 commented on #2
@Hsword

[2016-02-25 09:26] VOID001 commented on #3
Not easy to fix it now

[2016-02-25 09:27] VOID001 commented on #4
@su526664687 问题应该是 前端显示时间和服务器实际时间不符

[2016-02-27 10:05] VOID001 commented on #2
@su526664687 @DYS1230

[2016-02-27 10:06] VOID001 commented on #5
@su526664687 @DYS1230

[2016-02-29 03:32] catsworld opened #6 "关于前端的小建议"
1. 右上角用户名处日后增加功能时请务必做成Dropdown。
2. 左上角图标+NEUOJ应该链接到首页而不是当前页。[Fixed]
3. 之前提过的导航栏鼠标经过样式字体颜色为黑不是很舒服的问题。
4. Promblem List和Content List中建议把一整条都做成链接而不是只能点击那几个文字。[Fixed]
5. Status页可以把本人的状态标色，然后本人状态可以点击View Source，右边一排不能点的View Source很闹心。[Fixed]
6. Dashboard回OJ的链接可以做在Logo里，感觉放在下面有点奇怪。

[2016-02-29 03:34] VOID001 commented on #6
@su526664687 Please fix 1, 5

[2016-02-29 03:35] su526664687 commented on #6
好的，逐渐修整中

[2016-02-29 03:36] VOID001 commented on #6
@su526664687  Fix 2 6 please~ , Previously the bug report is broken,

[2016-03-01 03:34] su526664687 commented on #2
这个result集合存在哪个变量里@VOID001

[2016-03-01 03:36] su526664687 commented on #4
这个问题，用户手动刷新一下页面能看到题目吗 @NEU20133823

[2016-03-01 04:04] NEU20133823 commented on #4
@su526664687 我记得是不行的

[2016-03-01 04:05] VOID001 commented on #4
这个bug应该更改为: 前端的JS倒计时器和后端的服务器时间不同步

[2016-03-01 04:07] su526664687 commented on #4
额，这个之后修正一下

[2016-03-01 04:18] VOID001 commented on #2
稍等, 我看一下这个是前端的bug还是后端的

[2016-03-01 04:33] VOID001 opened #7 "Frontend Pager should improve"
Now only can navigate to next page , and prev page, need a interface for user to access any page , and , need to add last-page and first-page link @su526664687  @DYS1230

[2016-03-01 04:36] su526664687 commented on #7
是所有存在翻页的页面吗？@VOID001

[2016-03-01 04:41] VOID001 commented on #7
Yes

[2016-03-01 05:59] su526664687 commented on #2
如何获取result

[2016-03-01 06:16] su526664687 opened #8 "views/contest.ranklist中存在原生php代码"
views/contest.ranklist第46行，存在<?php $rrr = 1; ?> @VOID001  @Hsword  @onionwyl

[2016-03-01 09:46] VOID001 commented on #5
Fixed

[2016-03-01 09:46] #5 closed

[2016-03-01 11:30] VOID001 commented on #8
Fixed

[2016-03-01 11:30] #8 closed

[2016-03-04 11:11] zarcoder opened #9 "用户Level的划分"
校内用户Level的划分
现役的（参加区域赛）
退役的（参加过区域赛的）
参加过省赛级别的
未参加过任何比赛的

可以根据Level的不同，名字前加不同的修饰图标icon之类的

[2016-03-04 11:22] zarcoder opened #10 "关于OJ的一些功能"
+  Contest的rank导出 这个算一个比较重要的功能  ☆
+  用户分数，对于每个题目有一定的分数，过题之后他的积分累积成长，这个得尽快 ☆☆☆

[2016-03-07 23:41] VOID001 commented on #7
Fixed some pager , not all fixed

[2016-03-09 12:43] VOID001 opened #11 "Judgehost Error: Compile error"
compile.out shows  `sorry you must have a tty to run sudo`

[2016-03-09 12:44] VOID001 commented on #11
One possible fix: modify the /etc/sudoers file Comment the `Default requiretty` then seems works well

[2016-03-10 12:11] su526664687 opened #12 "frontend: status.list: the result should refresh automatically"
@DYS1230

[2016-03-10 12:14] su526664687 opened #13 "frontend: dashboard.profile: modify the location of picture"
rt

[2016-03-11 05:53] su526664687 opened #14 "frontend:status.list:the status owned by one'self should be hightlight"

[2016-03-11 11:48] VOID001 opened #15 "[Urgent!!!] Problem Display Raw HTML (Not Rendered)"
Problems load from hustoj
Displays RAW HTML

[2016-03-12 05:41] VOID001 commented on #1
Partial fixed
"bottom和left的border没有线了啊 "  not fixed

[2016-03-12 05:51] VOID001 commented on #2
Fixed

[2016-03-12 05:51] #2 closed

[2016-03-12 05:52] #11 closed

[2016-03-12 05:53] VOID001 commented on #9
Not for ver1.0

[2016-03-12 05:59] zarcoder commented on #15
问题的 Sample input 和 Sample Output显示好像不是那么完美
题目的分页应该和老OJ一样有那种第一页，第二页的链接

[2016-03-12 06:06] zarcoder opened #16 "Contest的Ranklist显示问题"
@su526664687 Contest的Ranklist如果一次AC的话，后面的那个（0）不显示，我看你一般的改了，但是FB的话，那种显示还没修改

[2016-03-12 06:08] VOID001 commented on #15
"题目的分页应该和老OJ一样有那种第一页，第二页的链接"
@DYS1230 is fixing this bug, patch rejected, will be fixed in next patch

[2016-03-12 06:10] VOID001 commented on #16
#1 Duplicated

[2016-03-12 06:10] #16 closed

[2016-03-12 06:29] zarcoder opened #17 "建议"
Problem List页，显示题目的那一行都可以点击进入题目了
之前是好像是Problem ID可点击
现在修改之后给人感觉没有锚点了，我觉得还是就Problem ID和 Title 两项可以点击就可以
你们觉得呢
我看了一下老OJ，还有HDU的，还有HIT的，好像都是只有Title可点击
@VOID001 @Hsword @su526664687

[2016-03-12 06:56] VOID001 commented on #7
Submission pager not fixed, other pager fixed

[2016-03-12 06:57] VOID001 commented on #17
那就做个高亮效果吧,鼠标移动到可以点击的题目上的时候将这一条高亮一下, 并且现在的鼠标指针已经变成 手形了, 应该能看出来, 而且整个一条都能点不影响href, 如果有href的话 会先处理href的

[2016-03-12 06:58] VOID001 commented on #15
@zarcoder  fixed

[2016-03-12 06:59] VOID001 commented on #12
This is an enhancement

[2016-03-12 08:33] VOID001 opened #18 "[Urgent!!!] Problem List Crashed when no problem in database"
No problem in database will crash Undefined variable: problems
Dashboard and ProblemList both crash
(View: /home/void001/GitRepos/WebProjects/NEUOJ/resources/views/problem/list.blade.php)

[2016-03-12 09:13] VOID001 opened #19 "Regression: 04850ab3 Makes Contest Edit not avaliable"
Commit message attached below
   Encapsulate Pager function for getContests

   Contest.php: Add function getContestItemsByPageID
   Controller/ContestController.php:Encapsulate functions and add showContestDashboardByPageID
   routes.php: Add routes for showContestDashboardByPageID

[2016-03-12 12:02] VOID001 commented on #1
Fixed

[2016-03-12 12:02] #1 closed

[2016-03-12 13:36] #18 closed

[2016-03-12 13:36] VOID001 commented on #18
Fixed

[2016-03-12 13:41] VOID001 commented on #19
Fixed

[2016-03-12 13:41] #19 closed

[2016-03-12 13:48] VOID001 commented on #14
Fixed

[2016-03-12 13:48] #14 closed

[2016-03-12 13:49] VOID001 commented on #6
2 4 5 fixed

[2016-03-12 14:15] chenhongbiao commented on #17
Problem List 中被高亮题目的Title有些看不清，建议换种高亮颜色:fallen_leaf:

[2016-03-13 06:21] VOID001 opened #20 "Rejudge by runid will not change FB"
RT, This is stub for now

[2016-03-13 06:22] VOID001 commented on #7
Status page pager is not necessary, marked as fixed

[2016-03-13 06:22] #7 closed

[2016-03-13 06:24] VOID001 commented on #12
backend should give a ajax api entry for frontend fetching result

[2016-03-13 07:43] VOID001 opened #21 "Display Error"
![image](https://cloud.githubusercontent.com/assets/6134883/13727571/5d022a5a-e932-11e5-8bbd-ea5586e8673c.png)

[2016-03-13 07:45] onionwyl opened #22 "Register Error"
There must be a link to register page in contest list page

[2016-03-13 07:46] onionwyl commented on #22
@onionwyl

[2016-03-13 08:35] VOID001 commented on #15
Fixed

[2016-03-13 08:35] #15 closed

[2016-03-13 08:45] VOID001 commented on #4
Not fixed now

[2016-03-14 00:53] zarcoder opened #23 "Status页面的Problem Title应该链接跳转到题目"
+ Status页面的Problem Title应该链接跳转到题目，现在好像没有链接
+ Status页面，鼠标悬浮在某一行的话，背景颜色和这个提交是用户自身提交的题目颜色一样，这个应该有区别吧
+ CE时，显示的信息不全

  -  本机编译出错提示

  -  ![1](https://cloud.githubusercontent.com/assets/2095041/13732695/445fa9f0-e9c3-11e5-997c-9f9235363293.png)

  -  OJ对编译出错的提示

  -  ![2](https://cloud.githubusercontent.com/assets/2095041/13732696/4462315c-e9c3-11e5-8979-2aa8d62fd6c6.png)

[2016-03-14 02:25] VOID001 opened #24 "Compile Error Message Display error"
CE时，显示的信息不全

本机编译出错提示

![image](https://cloud.githubusercontent.com/assets/6134883/13733521/d76e4020-e9ce-11e5-84df-6b9591872c52.png)

OJ对编译出错的提示

![image](https://cloud.githubusercontent.com/assets/6134883/13733512/bd9f0bf2-e9ce-11e5-8330-b09edb98e17f.png)

[2016-03-14 03:18] VOID001 commented on #23
CE Fixed

[2016-03-14 03:19] #24 closed

[2016-03-14 05:19] VOID001 commented on #23
Status页面，鼠标悬浮在某一行的话，背景颜色和这个提交是用户自身提交的题目颜色一样，这个应该有区别吧

This is not a bug, all the area that can access by current user will turn highlight

[2016-03-14 08:47] su526664687 opened #25 "后端：the register should have a status such in contest.list"
rt

[2016-03-15 09:22] VOID001 opened #26 "[Urgent!!!] Every one can see problems with visiblity lock"
RT, Very Urgent!!

[2016-03-15 09:23] onionwyl commented on #26
what

[2016-03-15 09:24] onionwyl commented on #26
i will fix that

[2016-03-15 09:24] onionwyl commented on #26
right now

[2016-03-15 09:26] VOID001 commented on #26
Please fetch the latest one

[2016-03-15 09:27] VOID001 commented on #26
The one I just pushed

[2016-03-15 09:27] onionwyl commented on #26
ok

[2016-03-15 10:28] VOID001 opened #27 "Add private contest will crash"
The crash log shows below
[code]

[2016-03-15 10:36] VOID001 commented on #27
Fixed

[2016-03-15 10:36] #27 closed

[2016-03-15 10:40] VOID001 commented on #21
Fixed

[2016-03-15 10:40] #21 closed

[2016-03-15 10:41] VOID001 commented on #4
Maybe fixed now, need test in contest

[2016-03-15 10:43] VOID001 commented on #13
Please describe more detailed

[2016-03-15 14:16] catsworld opened #28 "请求加入USACO Training题库"
作为一些基础以及细节的学习USACO真的适合很棒的题库，希望大家都可以去做。

[2016-03-15 14:24] VOID001 commented on #12
Fixed

[2016-03-15 14:24] #12 closed

[2016-03-16 00:06] VOID001 commented on #28
@zarcoder

[2016-03-16 03:20] zarcoder commented on #28
可以啊

[2016-03-16 07:13] VOID001 commented on #28
@catsworld If you can provide a well-formatted data and problem that's suitable for ACM-ICPC mode contest, We can add a Tutorial System using the Problem Database your provided

[2016-03-16 07:14] VOID001 opened #29 "Cannot Download input and output data from Admin problem manage panel"
RT

[2016-03-16 09:42] VOID001 opened #30 "Edit register contest will not get the previous register time"
![image](https://cloud.githubusercontent.com/assets/6134883/13807882/744429a2-eb9e-11e5-9233-433edee68c2f.png)

[2016-03-16 09:43] VOID001 commented on #30
@onionwyl  @su526664687

[2016-03-16 09:58] VOID001 commented on #30
Fixed

[2016-03-16 09:58] #30 closed

[2016-03-17 02:33] zarcoder opened #31 "Bug: display errors about "Problem Description~ Input~ ""
在Problem编辑页，填写的数据
注意input里面是没有填任何东西的
Output里面只有一个Hello World!
![qq 20160317102803](https://cloud.githubusercontent.com/assets/2095041/13834581/30d21b24-ec2b-11e5-8e90-51aaff3f5265.png)

但是在查看题目的时候
Input和Output都显示的Problem Description的东西
![qq 20160317102740](https://cloud.githubusercontent.com/assets/2095041/13834579/27949762-ec2b-11e5-9e6e-999005c19eb0.png)

[2016-03-17 02:36] zarcoder commented on #28
@catsworld 你有USACO的所有题目的数据么？

[2016-03-17 06:13] catsworld commented on #28
@zarcoder 应该有，或者至少能找到

[2016-03-17 06:19] VOID001 commented on #31
Fixed

[2016-03-17 06:19] #31 closed

[2016-03-17 06:37] VOID001 opened #32 "Frontend: Dashboard Display bug"
![image](https://cloud.githubusercontent.com/assets/6134883/13838282/bd49b81e-ebe0-11e5-8490-ee474816e0a5.png)
See the picture above, when we scroll the page to the bottom, the side panel style is wrong
@DYS1230 @su526664687

[2016-03-17 06:41] VOID001 opened #33 "Backend: Contest edit function doesn't validate the input"
@onionwyl  Still not fixed

[2016-03-17 06:43] VOID001 commented on #17
Fixed

[2016-03-17 06:43] #17 closed

[2016-03-18 02:56] onionwyl opened #34 "Register set page error"
当contest原本是public和private时点register无法显示注册起始和结束时间，设置register contest时会把contest变成private

[2016-03-18 04:13] ttimasdf opened #35 "前端按钮颜色修改建议"
像这样。
![这样](https://img.vim-cn.com/8f/26c98030ed09e703dd364cba0a9b786b8c8f9e.png)

[2016-03-18 04:15] VOID001 commented on #35
谢谢兔子ww

[2016-03-18 04:30] VOID001 commented on #34
Bug not totally fixed, If edit a private contest to be a register one, it will not take effect and register time input box will not appear @onionwyl

[2016-03-18 09:13] VOID001 commented on #35
@DYS1230 @su526664687

[2016-03-19 02:07] VOID001 commented on #34
Fixed

[2016-03-19 02:07] #34 closed

[2016-03-19 02:12] VOID001 commented on #26
Still not fixed, assigned to @Hsword

[2016-03-19 03:22] Hsword commented on #26
fixed

[2016-03-19 03:23] VOID001 commented on #26
No, title not fixed

[2016-03-19 06:18] catsworld opened #36 "The Mem limit display "131.072MB"..."
Interesting

[2016-03-19 09:10] catsworld opened #37 "Please add "Hint" for every problems"
I should use this for my USACO Training problems.

[2016-03-21 00:12] zarcoder opened #38 "Bug: 管理员界面查看题目的时候出错"
@VOID001
http://202.118.31.226/dashboard/problem/p/1

[2016-03-21 00:12] VOID001 commented on #38
This is a regression caused by 43044e2a

[2016-03-21 00:13] VOID001 commented on #38
Not only admin crash , user visit /problem/p/1 also crash

[2016-03-21 00:14] VOID001 commented on #38
@onionwyl \

[2016-03-21 00:29] VOID001 commented on #38
Fixed

[2016-03-21 00:29] #38 closed

[2016-03-21 00:35] VOID001 commented on #36
Fixed

[2016-03-21 00:35] #36 closed

[2016-03-21 00:35] VOID001 commented on #35
Fixed

[2016-03-21 00:35] #35 closed

[2016-03-21 00:35] VOID001 commented on #32
Fixed

[2016-03-21 00:36] VOID001 commented on #26
Fixed

[2016-03-21 00:36] #26 closed

[2016-03-21 00:37] VOID001 commented on #37
Delay for fix

[2016-03-21 00:38] #32 closed

[2016-03-21 00:38] VOID001 commented on #22
Fixed

[2016-03-21 00:38] #22 closed

[2016-03-22 02:51] su526664687 opened #39 "problem.add 在添加时如果某些项如果不输入内容，在problem.index可能不提醒nothing"

[2016-03-22 06:12] su526664687 opened #40 "前端需要加上题目添加时一些量的单位"

[2016-03-22 11:01] catsworld opened #41 "Please add "Polymer" feature to make the style greater."
RT

[2016-03-23 01:28] su526664687 commented on #41
some style(such as problem.manage) is changed by polymer,please fix this.

[2016-03-23 03:21] VOID001 commented on #29
Fixed

[2016-03-23 03:21] #29 closed

[2016-03-25 13:13] VOID001 opened #42 "Use WYSIWYG native upload function will cause picture not found after a few days"
See NEUOJ Hello world problem for example, now my picture is missing
Here is the missing image address , you can see it in Problem 16 http://i.froala.com/download/6bdc83beced273fc1b5a4228fb1615b806995379.jpg?1458699737

[2016-03-26 02:24] lamxTyler opened #43 "无法添加题目/比赛"
昨晚11点左右还是可以添加的，后来12点多开始添加比赛就出现mismatch，今早添加题目也出现了类似的错误。

[2016-03-26 02:31] VOID001 commented on #43
This is because server misconfiguration, Fixed now

[2016-03-26 02:31] #43 closed

[2016-03-26 02:36] VOID001 commented on #41
Not fixed yet

[2016-03-26 02:37] VOID001 commented on #23
Fixed

[2016-03-26 02:37] #23 closed

[2016-03-26 05:59] VOID001 opened #44 "Ouput file limit to 4MB, which is not enough for some problems"
When pass the json obj to judgehost, output limit is hard-coded

[2016-03-26 05:59] VOID001 commented on #44
Fixed

[2016-03-26 08:39] #44 closed

[2016-03-26 08:41] VOID001 commented on #40
Fixed

[2016-03-26 08:41] #40 closed

[2016-03-26 08:41] VOID001 commented on #33
Fixed

[2016-03-26 08:41] #33 closed

[2016-03-26 08:41] VOID001 commented on #4
Fixed

[2016-03-26 08:41] #4 closed

[2016-03-26 08:44] VOID001 commented on #6
All fixed

[2016-03-26 08:44] #6 closed

[2016-03-26 08:45] VOID001 commented on #25
Fixed

[2016-03-26 08:45] #25 closed

[2016-03-26 08:45] VOID001 commented on #39
Not a bug

[2016-03-26 08:45] #39 closed

[2016-03-26 08:46] VOID001 commented on #13
Fixed

[2016-03-26 08:46] #13 closed

[2016-03-26 08:46] VOID001 commented on #28
Now traning system is working In Progress

[2016-03-26 09:11] xfangfang opened #45 "The colo"

[2016-03-26 09:11] VOID001 commented on #45
Please describe your problem more detailly

[2016-03-26 09:12] xfangfang opened #46 "The color is not really good"
sorry for my english.

[2016-03-26 09:12] #45 closed

[2016-03-26 09:13] VOID001 commented on #46
Please give some detailed info, you can use Chinese, too

[2016-03-26 09:16] xfangfang commented on #46
厉害，秒回啊，个人感觉新oj配色不是很好看，略发紫了，很喜欢之前的蓝色，不过调整了应该是有原因的，只是发表一下个人见解^_^

[2016-03-26 09:20] VOID001 commented on #46
谢谢你的反馈~~~ 我们会认真对待每一条反馈的~  (｡･ω･)ﾉﾞ
@su526664687 @DYS1230

[2016-03-27 00:26] 1158191255 opened #47 "新OJ没有对用户已过题目的显示功能"
求问新OJ的problem没有显示那道题过了的地方么？过了的题还可以提交啊...0.0

[2016-03-27 00:35] VOID001 commented on #47
我们会在下面的版本加上这个功能哒～过了的题还可以提交  不过不会重复计算分数辣以后 ~o(〃'▽'〃)o
多谢反馈

[2016-03-27 01:47] lamxTyler opened #48 "比赛通过文件导入用户有问题"
通过文件导入并不能导入用户，而且导入用的文件好像丢失了。

[2016-03-27 01:48] VOID001 commented on #48
This is stub now, not implemented

[2016-03-27 10:36] NEU20133823 opened #49 "[Urgent!!!]比赛的fb显示有问题"
如果没有什么特殊设置的话，第三次月赛ABD三题的fb都不对

[2016-03-27 10:40] VOID001 commented on #49
可否说明一下FB应该是谁, 现在是谁?
并提供相关的截图证明 Thanks

[2016-03-27 10:49] NEU20133823 commented on #49
A应该是程国宇，现在是我；B应该是20143717，现在是余谦；D应该是立波，现在也是我0.0
截图：
![screenshot_2016-03-27-17-01-47_com android browse](https://cloud.githubusercontent.com/assets/16102286/14065052/81179c0c-f44c-11e5-9054-7afd985af158.png)

[2016-03-27 11:14] VOID001 commented on #49
OK, Now the cause of the bug is unknown

[2016-03-28 02:49] VOID001 commented on #49
@onionwyl @Hsword  This bug is critical, Please figure out the problem ASAP

[2016-03-28 02:51] VOID001 commented on #49
When rejudge the whole problem, the fb display is correct

[2016-03-29 14:24] VOID001 commented on #49
Onion provide a solution, Reviewing Now

[2016-03-29 14:40] VOID001 opened #50 "Contest ProblemList FB Display Error"
The cause is same as Bug #49

[2016-03-29 14:40] VOID001 commented on #49
Ranklist Status Fixed, But User Contest Problem List Page not fixed, New bug opened #50

[2016-03-29 14:41] #49 closed

[2016-03-30 12:10] catsworld opened #51 "[Testing] Ranklist题量统计bug"
AC后WA再AC，数量+1。

[2016-03-30 12:11] VOID001 commented on #51
Thanks for your reporting, We will fix it ASAP

[2016-03-30 12:14] VOID001 commented on #51
AC AC will not change the Total number

[2016-03-30 12:17] VOID001 commented on #51
Each AC WA AC will add one more count of total AC problems

[2016-03-30 12:41] 20143643 opened #52 "The time shown on the ranklist has a bug."
00:8.:2    There' s an extra dot.

[2016-03-30 12:44] VOID001 commented on #52
Thanks for your reporting , We will figure it out

[2016-03-30 13:02] VOID001 commented on #51
@onionwyl Fixing it, testing the whether it cause a regression

[2016-03-30 14:18] VOID001 commented on #51
Maybe Fixed, Need for future test

[2016-03-30 14:20] VOID001 opened #53 "Frontend: Balloon Page Display bug"
![image](https://cloud.githubusercontent.com/assets/6134883/14145184/85352b02-f658-11e5-99b9-3ff85785450a.png)
* The right up corner display is buggy

[2016-03-30 14:21] VOID001 commented on #53
@DYS1230 @su526664687

[2016-03-31 00:05] VOID001 opened #54 "Judgehost Configuration Bugs"
### 1 Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 174374977 bytes) *****

* This is because misconfiguration of php.ini Change max memory from 128MB to 2048MB fix the problem

### 2 Error excuting POST to http://localhost/api/judging_runs return code 500 response:

* This is because the output file is too large for post(56M) , Future will set problem output lim

[2016-03-31 02:08] ligy118 opened #55 "无故被登出"
登陆后进昨天的课程(comtest>>2016-Lesson01)，先看了榜单，然后又点了状态看提交情况，就需要重新登陆
win 7
chrome(机房网自带翻墙效果好棒≧▽≦)

[2016-03-31 02:12] VOID001 commented on #55
This is because we use session not cookie to store the user login state.
And What's more the PC in NEU has auto-recovery mode enabled , Which means when you shutdown the PC, all the data you modifed may lost, so the cookie is lost, too

[2016-03-31 04:35] catsworld opened #56 "Frontend: 比赛结束后仍能假装提交代码"
只是看到的是彩蛋页，建议隐藏Submit按钮或者把彩蛋页弄得风格一致。

[2016-03-31 07:01] woodiness opened #57 "建议添加搜素题目功能"
只能搜题号，不能搜题目不是很方便

[2016-03-31 07:02] VOID001 commented on #56
@su526664687 @DYS1230 @catsworld

[2016-03-31 07:03] VOID001 commented on #57
Thanks for reporting , We will add it in the near future

[2016-03-31 07:05] VOID001 commented on #20
Fixed

[2016-03-31 07:05] #20 closed

[2016-03-31 07:06] VOID001 commented on #50
Fixed

[2016-03-31 07:06] #50 closed

[2016-03-31 14:25] su526664687 opened #58 "题目相似度的label普通用户点击进入oj主页"
this label maybe should be disabled

[2016-04-01 02:29] su526664687 commented on #37
the "hint "  may be forgot, but easy

[2016-04-01 10:14] VOID001 commented on #58
Yes, please fix it

[2016-04-01 10:15] VOID001 commented on #54
2 Will be fix by changing the output limit to the output filesize

[2016-04-02 06:34] woodiness opened #59 "Frontend: 显示的行间距，容易跟隔行混淆"
![970vtby 1bj zotkbmweghv](https://cloud.githubusercontent.com/assets/15183144/14224895/09e7c5ec-f8e0-11e5-8e26-b83ebeeffa63.png)

[2016-04-02 07:05] ligy118 opened #60 "Frontend: 因chrome插件某部件位置错误"
插件：百度翻译
不打开“划词翻译”功能时没事，打开后
一旦选中字符（不包括空格和换行）
页面最下方的 Transcript show: 'Kamusta mundo!'
All Copyright©Reserved 2013-2016 NEU-ACM TEAM   Ver 1.0
会跑到中间并遮挡那个位置的题目（但不能遮挡图片，会被图片盖着hhh）

[2016-04-02 07:06] VOID001 commented on #60
Can you provide a screenshot?

[2016-04-02 07:09] ligy118 commented on #60
![2016-04-02 15 07 26](https://cloud.githubusercontent.com/assets/15182212/14224984/d9c246a8-f8e4-11e5-8639-4df03636e922.png)
![2016-04-02 15 06 54](https://cloud.githubusercontent.com/assets/15182212/14224983/d9927996-f8e4-11e5-8357-0d106e6daf17.png)

[2016-04-02 07:10] VOID001 commented on #60
@su526664687 @DYS1230

[2016-04-02 07:10] VOID001 commented on #59
@su526664687 @DYS1230

[2016-04-02 07:11] VOID001 commented on #60
This is a bug caused by third-party plugin, not so urgent to fix, delayed for fixing now

[2016-04-02 08:07] su526664687 commented on #60
This is a problem which I have not encountered, so now I only mark.

[2016-04-02 12:50] VOID001 opened #61 "Frontend Code too big , When visit outside CERNET, transfer too lagg"
I think we need to compress the frontend code

[2016-04-03 14:28] VOID001 opened #62 "BBS Crash When this is the first time the user post a data"
$threads != NULL is not correct

[2016-04-03 14:29] VOID001 commented on #62
@Hsword I will fix it

[2016-04-03 14:31] VOID001 commented on #62
Fixed

[2016-04-03 14:31] #62 closed

[2016-04-04 03:20] VOID001 opened #63 "Use Redis to boost the performance!"
Benchmark performance is not as well as Expected, We need to use cached system to boost performance

[2016-04-06 07:13] catsworld commented on #59
@VOID001 疑似给值问题，并没有设置错误的行间距，相反源码中可以查到多余空行，只有Sample Input、Sample Output、Source三栏出现此问题。

[2016-04-06 07:18] VOID001 commented on #59
You mean this is not a frontend bug? We will look carefully

[2016-04-06 07:47] catsworld opened #64 "热身赛时出现了两次权限不足的CE"
Compiling failed with exitcode 1, compiler output:
/bin/ld: reopening program: Permission denied

/bin/ld: final link failed: Permission denied
collect2: error: ld returned 1 exit status

如果没法解决可以判断两次提交代码相同如果后一次AC前一次就不计入罚时么，不然很伤。

[2016-04-06 10:43] VOID001 commented on #64
Please provide the runid

[2016-04-06 10:44] VOID001 opened #65 "[Urgent!!] Refresh too frequently will get 403 error"
Server configuration error, I think, need to fix this

[2016-04-06 10:46] catsworld commented on #64
2697 & 2760

[2016-04-06 12:16] koooyf opened #66 "contest里明明有人交了两发虽然是WA 但是比赛AC率是0/0"
RT

[2016-04-07 02:31] VOID001 commented on #66
Thanks for your reporting, we will figure what is wrong and fix this ASAP

[2016-04-07 02:37] VOID001 commented on #66
Bug Confirmed by local test

[2016-04-07 02:38] onionwyl commented on #66
What cause this😂

[2016-04-07 02:41] VOID001 commented on #66
This is a bug caused by frontend, confirmed

[2016-04-07 02:43] VOID001 commented on #66
@catsworld Please report the issue individually

[2016-04-07 02:44] VOID001 commented on #66
Fixed

[2016-04-07 02:44] #66 closed

[2016-04-07 02:46] VOID001 opened #67 "Regression: Status page cannot auto refresh"
This is probably a frontend bug

[2016-04-07 02:46] VOID001 commented on #58
Fixed

[2016-04-07 02:46] #58 closed

[2016-04-07 02:48] VOID001 commented on #64
This is very unlikely to happen now, If happened we can use Rejudge to re-submit the problem

[2016-04-07 02:48] VOID001 commented on #51
Fixed

[2016-04-07 02:48] #51 closed

[2016-04-07 02:49] VOID001 commented on #41
Fixed

[2016-04-07 02:49] #41 closed

[2016-04-07 02:54] VOID001 opened #68 "Contest Status list filter by Contest Problem ID cannot work"
The filter might take the problem_id as real problem_id, which is wrong

[2016-04-07 03:05] VOID001 commented on #67
Reason found : var run_id = rows[i].cells[0].innerHTML;
This will not give only a number now, so run_id we get is wrong, Need to change the Javascript Code

[2016-04-07 03:14] VOID001 commented on #67
FIxed

[2016-04-07 03:14] #67 closed

[2016-04-07 04:32] catsworld commented on #68
貌似只有A题可以

[2016-04-07 04:33] catsworld commented on #65
不仅如此在403之前还会出现样式异常的现象

[2016-04-07 04:34] VOID001 commented on #65
Style error is also caused by 403, cannot load certain css js file

[2016-04-07 04:58] VOID001 opened #69 "AC/Submission should display only the info before the user first ac this problem"
@onionwyl  Please fix this, before the contest

[2016-04-07 05:20] VOID001 commented on #57
Feature enabled now~

[2016-04-07 05:20] #57 closed

[2016-04-07 05:46] onionwyl commented on #69
ok

[2016-04-07 07:48] catsworld opened #70 "题目搜索bug"
现在的逻辑造成了该题号404也会跳转的尴尬情况，应该避免。

[2016-04-07 07:49] catsworld commented on #69
这个应该仅针对contest的统计，题目统计应该还是允许多次提交的

[2016-04-07 07:50] VOID001 commented on #69
But if user brute submit AC code in the problem base, the problem AC/Submission will very near to 100%, also confused others

[2016-04-07 07:51] catsworld commented on #64
需不需要开一个Rejudge申请的功能

[2016-04-07 07:52] VOID001 commented on #64
Currently no need , future will discard this judgehost, and this problem will not exist

[2016-04-07 13:39] VOID001 commented on #65
Server configure Anti DDOS Module This caused by the wrong-config of this module

[2016-04-08 00:53] zarcoder opened #71 "[Urgent!!!] 关于用户名的问题"
用户注册的时候，限制一下用户名不能全为数字，以防止有人注册成学号形式的

[2016-04-08 02:57] VOID001 commented on #71
Yes, I already notice this, @onionwyl Fix this please

[2016-04-08 08:29] catsworld commented on #70
至少题号不存在的时候应该跳转返回Problemlist

[2016-04-08 16:00] catsworld opened #72 "希望尽量在校赛前解决的问题"
·Ranklist自动刷新
·在contest.list里放Ranklist的入口，非比赛用户仍然可以查看Ranklist
·右上角dropdown menu显示nickname而不是username
·更改头像失败的时候Nickname、School和学号栏应该保留记录或者保存
·上一次提交代码的程序语言应该记录下来
·登录后返回之前页面

[2016-04-08 16:01] catsworld commented on #56
姑且可以close了

[2016-04-09 01:49] VOID001 commented on #56
Fixed partially

[2016-04-09 01:49] #56 closed

[2016-04-09 05:36] catsworld opened #73 "Auth用户名不存在的时候Laravel报错"
RT

[2016-04-09 05:37] #73 closed

[2016-04-09 14:32] VOID001 commented on #69
Fixed

[2016-04-09 14:32] #69 closed

[2016-04-11 04:06] onionwyl opened #74 "contest中status页面未检查isset(submission)"
status.list line 156

[2016-04-11 04:07] onionwyl opened #75 "Ballon页面一次出现两个球球"

[2016-04-11 04:50] KuroxD opened #76 "BUG"
the function that finding by promblem ID in the status

[2016-04-11 07:05] VOID001 commented on #76
Please describe the problem in accurate and detailed description, this will help us find the bug and fix it

[2016-04-12 04:31] onionwyl commented on #74
This bug is caused by $submission in ajax

[2016-04-12 08:03] VOID001 commented on #74
Fixed

[2016-04-12 08:03] #74 closed

[2016-04-12 08:05] VOID001 commented on #3
This should be fixed now

[2016-04-14 01:12] zarcoder opened #77 "这两个横向排版效果好一些吧"
Url:  dashboard/problem/p/1#
![qq20160414-0](https://cloud.githubusercontent.com/assets/2095041/14514180/ff63786a-0220-11e6-8884-3a5016a308f7.png)

[2016-04-15 02:50] Diaopeng opened #78 "Why cannot visit other pages after register"
为什么我注册比赛会停滞在profile那一页面，一直过不去啊，所以我无法注册比赛吗

[2016-04-15 05:15] VOID001 commented on #78
你好， 感谢你的反馈
目前OJ上没有注册类型的比赛，你说的应该是注册一个新用户到OJ， 用户注册之后， 需要完善一下个人信息，才允许继续操作， 请填写相应的信息，点击Save之后，就可以访问其他页面了， 我们在之后的版本中会加入一句话提醒用户填写必要信息的，如果问题得到解决请回复我们，我们会关闭这个issue， 如果没有解决则继续提供具体的错误信息

[2016-04-15 06:06] VOID001 commented on #76
Hello, thanks for your reporting
But we cannot figure out what you mean, or what bug you occur by your description, Please make a detailed description (__maybe include a picture or give the step-by-step operation__), If no detailed information given, the issue will be closed in 3 days

[2016-04-15 06:07] VOID001 commented on #65
Fixed

[2016-04-15 06:07] #65 closed

[2016-04-15 06:09] VOID001 commented on #55
Maybe not a bug , Closed

[2016-04-15 06:09] #55 closed

[2016-04-15 06:11] #37 closed

[2016-04-15 06:12] VOID001 commented on #46
Others also mentioned the color of OJ, maybe it is necessary to change

[2016-04-15 06:13] VOID001 commented on #71
@onionwyl Please fix this ASAP

[2016-04-20 02:16] VOID001 opened #79 "Picture too big to load"
In Contest Ranklist, avatar pictures are too big to load

[2016-04-20 07:41] zarcoder commented on #77
![qq 20160420154008](https://cloud.githubusercontent.com/assets/2095041/14666796/116d444a-070e-11e6-9c62-b7b4d3abbfbf.png)
这个布局有点问题
除了上面的说的那两个排列横向排列之外
table列，第一列应该是题目的id，然后宽度不需要那么大
@su526664687

[2016-04-20 07:58] zarcoder opened #80 "对比赛的编辑的问题"
管理员任何时候应该可以编辑比赛的
不是结束之后就不能编辑

[2016-04-20 14:05] woodiness opened #81 "STATUS中点击Problem Title无法回到题目中"
建议在Problem Title一项中添加链接

[2016-04-21 00:56] VOID001 commented on #81
We will fix this

[2016-04-21 00:56] VOID001 commented on #79
Fixing in image_load branch

[2016-04-21 00:59] VOID001 opened #82 "[Frontend] The Admin ranklist style wrong"
![image](https://cloud.githubusercontent.com/assets/6134883/14694882/56cec530-0732-11e6-85fc-8924dee2629f.png)
See the picture above, when stu_no is too log, the display is ugly

[2016-04-21 11:00] su526664687 commented on #82
I will fixed.

[2016-04-21 11:24] VOID001 commented on #71
@onionwyl Please fix this ASAP

[2016-04-23 11:40] zarcoder opened #83 "Training系统编辑题目的时候 题目的Problem没法保存"
1.保存之后就丢失了
2.[chapter1] 章节最好有个名称或者说明之类的，在着就是chapter1的首字母大写一下比较好看

[2016-04-23 11:51] VOID001 commented on #83
Get, Minor fixes will be done right now
2. need an extra area for chapter, Which now we do not have

[2016-04-25 07:14] VOID001 commented on #83
1 Fixed

[2016-04-25 07:50] #61 closed

[2016-04-25 07:50] #76 closed

[2016-04-25 10:30] VOID001 opened #84 "Frontend: Display error"
1. ![image](https://cloud.githubusercontent.com/assets/6134883/14781147/60d3e8a4-0aa6-11e6-84ca-0fb3b25ebbeb.png)
2. In training index page, when point to a problem , cursor does not chage its style
3.Normal user can see some links that they shouldn't see in dashboard, such as language

[2016-04-25 10:32] VOID001 commented on #82
Please fix this together with #84

[2016-04-25 10:33] VOID001 commented on #80
Assigned to onionwyl

[2016-04-25 10:36] VOID001 commented on #42
Still not fixed

[2016-04-25 14:21] JuGyang opened #85 "NEUOJ还没有添加C++11特性呦"
加油哦！！！=。=

[2016-04-27 04:50] VOID001 opened #86 "[Regression] Backend: User cannot change avatar"
RT @Hsword

[2016-04-27 13:15] yukiyukiyu opened #87 "The ranklist is not correct"
罚时计算有bug，会导致榜的顺序出现原因不明的变动。

[2016-04-27 13:27] VOID001 commented on #87
This will fix in next version, I think I figured out what is wrong

[2016-04-27 13:29] VOID001 commented on #87
Good Bug Report [Marked for a prize]

[2016-04-28 00:14] zarcoder opened #88 "Contest里面的题目的管理链接的路由地址有误"
例如这个
http://202.118.31.226/contest/23/problem/3
manage的时候直接链接到3了

[2016-04-28 06:18] VOID001 commented on #88
Fixed but not deployed

[2016-04-29 01:28] su526664687 commented on #77
fixed

[2016-04-29 01:29] #77 closed

[2016-04-29 02:26] su526664687 commented on #84
About problem 3, could you give me a example? @VOID001

[2016-04-29 09:46] VOID001 commented on #84
![image](https://cloud.githubusercontent.com/assets/6134883/14912959/30ba7df0-0dc5-11e6-9ac9-2881584bc014.png)
Normal user should not see executables , languages, users

[2016-04-29 15:55] VOID001 commented on #88
Shipped

[2016-04-29 15:55] #88 closed

[2016-04-30 03:41] VOID001 commented on #84
Fixed

[2016-04-30 03:42] #84 closed

[2016-05-03 09:49] su526664687 commented on #82
fixed

[2016-05-03 09:49] #82 closed

[2016-05-05 02:23] VOID001 opened #89 "Regression: Click Manage in Problem Page won't go to problem edit page"
RT

[2016-05-05 02:24] VOID001 opened #90 "Enhance: Please add rejudge button for each problem"
RT

[2016-05-05 02:25] VOID001 opened #91 "Frontend bug: Ajax Refresh too frequent and cause 403 Forbidden"
I think the interval should change, or we need to block ajax request when one request is pending

[2016-05-05 02:26] VOID001 commented on #91
This happens in status.list

[2016-05-05 02:30] VOID001 opened #92 "Backend: The default output limit is too big"
Please change the default output limit to 1000KB When import problem

[2016-05-06 12:54] VOID001 commented on #87
Fixed

[2016-05-06 12:55] #87 closed

[2016-05-11 08:56] zarcoder opened #93 "现在题目的Manage链接，只有contest里面的是正常的，其余地方都是错误的"

[2016-05-12 02:44] VOID001 commented on #93
This is a duplicate issue for #89

[2016-05-12 02:44] #93 closed

[2016-05-23 01:46] VOID001 opened #94 "Frontend bug: The display has bug"
RT
![image](https://cloud.githubusercontent.com/assets/6134883/15458324/c77a060c-205d-11e6-8ed5-aa106439fd7c.png)
The footer is in wrong position

and the contest ranklist cannot show avatar
AND The Ranklist cannot fully displayed, many columns are missing
![image](https://cloud.githubusercontent.com/assets/6134883/15458347/2dbe57f6-205e-11e6-8738-b4e198bd53cc.png)

@DYS1230 @su526664687

[2016-05-23 05:39] VOID001 commented on #94
Fixed

[2016-05-25 06:15] zarcoder opened #95 "Bug: 输入数据的格式在保存和展示上做什么修改了么？"
编辑的时候
![2016-05-25 2 13 08](https://cloud.githubusercontent.com/assets/2095041/15529859/028c1fe2-2283-11e6-9255-6c634c5d19c2.png)
查看的时候
![2016-05-25 2 13 16](https://cloud.githubusercontent.com/assets/2095041/15529866/11a2a05a-2283-11e6-8683-76585a128998.png)

[2016-05-25 06:16] VOID001 commented on #95
@DYS1230 Take a look at this issue

[2016-05-25 06:17] #94 closed

[2016-05-25 06:17] #3 closed

[2016-05-25 06:17] #46 closed

[2016-05-25 06:17] #52 closed

[2016-05-25 06:18] #64 closed

[2016-05-25 06:18] #70 closed

[2016-05-25 06:18] #63 closed

[2016-05-25 06:18] #72 closed

[2016-05-25 06:18] #79 closed

[2016-05-25 06:30] VOID001 opened #96 "Security Bug Reported by @xfangfang"
Please see bearychat for details

[2016-05-25 07:53] DYS1230 commented on #95
OK

[2016-05-25 07:54] VOID001 commented on #95
I think this is caused by a change on the style sheet

[2016-05-25 08:04] zarcoder commented on #95
尽快修复这个bug
因为没法读题啦

[2016-05-25 08:05] DYS1230 commented on #95
修好了

[2016-05-25 08:18] zarcoder opened #97 "Bug: 后台编辑某个已经存在的比赛的时候没法保存"
提示这个比赛已经存在
应该是编辑比赛的保存的时候，你们也当create比赛来处理的
![2016-05-25 4 20 29](https://cloud.githubusercontent.com/assets/2095041/15532929/c63ad3c8-2294-11e6-8cd7-ddb1f9e62899.png)

另外
比赛过期之后管理员也应该能编辑
这个我之前说过了

[2016-05-25 08:22] zarcoder opened #98 "比赛Pending时间显示的小问题"
这个pending的时间，应该是距比赛开始的时间吧，这个显示的是距离结束的时间似乎
![2016-05-25 4 20 38](https://cloud.githubusercontent.com/assets/2095041/15532953/e8120ee4-2294-11e6-8ff0-cc6e8f26f995.png)

[2016-05-25 08:52] DYS1230 commented on #98
我的锅。。。。。

[2016-05-25 08:54] zarcoder commented on #95
修好了，服务器pull一下，晚上有课 @VOID001

[2016-05-25 09:00] VOID001 commented on #95
GET, I will check and merge now

[2016-05-25 09:06] VOID001 commented on #97
This is a regression = = Don't know who cause the bug now

[2016-05-25 09:07] VOID001 commented on #98
@DYS
Is this a bug caused by your recent patch?

[2016-05-25 09:13] DYS1230 commented on #97
。。。。。都是我的锅

[2016-05-26 01:46] VOID001 commented on #96
Fixed , The detail will be revealed soon

[2016-05-26 01:46] #96 closed

[2016-05-26 02:03] VOID001 commented on #89
Fixed

[2016-05-26 02:03] #89 closed

[2016-06-08 09:17] zarcoder opened #99 "同样的代码，执行时间差别近一倍"
![2016-06-08 5 16 19](https://cloud.githubusercontent.com/assets/2095041/15889194/bebfd11c-2d9c-11e6-8d87-280b21148a37.png)
程序执行时间计时的逻辑上是否有问题？

[2016-06-09 16:27] zarcoder opened #100 "Bug:又不能编辑比赛了"
提示
![qq 20160610002430](https://cloud.githubusercontent.com/assets/2095041/15937604/2b579aca-2ea2-11e6-9ee0-edcc63bead5a.png)

[2016-06-10 04:55] zarcoder opened #101 "比赛的Pending时间有误"
应该是计算到Begin，而不是end
![11111](https://cloud.githubusercontent.com/assets/2095041/15954535/999b4d70-2f0a-11e6-94ba-8dceffe91d74.png)

[2016-06-10 09:32] alivxxx opened #102 "题目加入比赛后不能更新测试数据"

[2016-06-11 01:50] VOID001 commented on #101
Fixed

[2016-06-11 01:50] #101 closed, assigned to nobody

[2016-06-11 01:51] VOID001 commented on #97
Fixed

[2016-06-11 01:51] #97 closed

[2016-06-11 01:51] VOID001 commented on #98
Fixed

[2016-06-11 01:51] #98 closed

[2016-06-11 02:50] zarcoder opened #103 "Training的Ranklist有误"
http://202.118.31.226/training/2/ranklist/p/1
出现很多重复用户信息

[2016-06-11 02:53] lovealba opened #104 "[Regression]已结束比赛中时间显示问题"
![image](https://cloud.githubusercontent.com/assets/19867160/15982720/94f03638-2fc2-11e6-8904-85f9da7875b0.png)

如图 0无限变长

[2016-06-11 02:54] VOID001 commented on #104
@DYS1230

[2016-06-11 02:54] VOID001 commented on #103
@onionwyl

[2016-06-11 03:05] VOID001 commented on #104
Thanks for reporting, this is a regression, we will fix it ASAP

[2016-06-11 04:12] VOID001 commented on #103
Workaround made

[2016-06-12 14:53] 14bird opened #105 "[MARKED]the same code have different results"
run id: 10044 ,10045.They are same, but have different results.

[2016-06-17 01:19] VOID001 commented on #104
@DYS1230

[2016-06-17 04:32] DYS1230 commented on #104
六天前已经提交了merge request

[2016-07-10 08:05] liboyang77 opened #106 "117题没有图 -- We need a new WYSIWYG Editor"
rt，不知道其他题目什么情况

[2016-09-11 07:25] VOID001 commented on #104
Merged

[2016-09-11 07:36] VOID001 commented on #104
Fixed

[2016-09-11 07:36] #104 closed, assigned to DYS1230

[2016-09-13 08:03] VOID001 commented on #100
Please check if the bug exists now

[2016-09-13 08:04] VOID001 commented on #47
FIxed and merged

[2016-09-13 08:04] #47 closed

[2016-09-13 08:04] VOID001 commented on #28
No problem imported yet

[2016-09-13 08:05] VOID001 commented on #105
@onionwyl  check this please, and confirm it if true

[2016-09-13 08:05] VOID001 commented on #10
First done

[2016-09-13 08:06] #95 closed

[2016-09-13 08:08] VOID001 commented on #53
Balloon now AJAX 500, Fix this before working on the issuse @onionwyl

[2016-09-13 08:08] #103 closed, assigned to onionwyl

[2016-09-13 08:09] VOID001 commented on #103
Fixed

[2016-09-14 02:43] VOID001 commented on #71
Done

[2016-09-14 02:43] #71 closed

[2016-09-17 03:12] VOID001 commented on #106
This is caused by a wrong WYSIWYG Editor

[2016-09-20 02:25] VOID001 opened #107 "500 Server Error when Visit the problem not exist"

[2016-09-20 02:27] VOID001 commented on #107
Fixed

[2016-09-20 02:27] #107 closed, assigned to nobody

[2016-09-20 11:05] VOID001 commented on #100
Fixed

[2016-09-20 11:05] #100 closed, assigned to nobody

[2016-09-20 11:09] VOID001 commented on #86
Fixed

[2016-09-20 11:09] #86 closed

[2016-09-20 11:09] VOID001 commented on #80
Duplicated Fixed

[2016-09-20 11:09] #80 closed

[2016-09-20 11:10] VOID001 commented on #48
Implemented, testing

[2016-09-20 11:10] VOID001 commented on #60
Ignored

[2016-09-20 11:10] #60 closed

[2016-09-20 11:11] VOID001 commented on #68
Fixed

[2016-09-20 11:11] #68 closed

[2016-09-21 07:35] ghost opened #108 "NEUOJ-Problem 661"
Training中  C语言入门  中  谭浩强 5.8   题目描述不完整，不能正常做。
![qq 20160921152825](https://cloud.githubusercontent.com/assets/21113834/18701782/0b723a06-8011-11e6-84d3-697463b72d41.png)

[2016-09-21 07:42] VOID001 commented on #108
Get, we will update the problems ASAP

[2016-09-27 16:51] Jinming-Su opened #109 "BackEnd: 当登陆成功之后，会回到上一个url造成问题"
由于主页使用ajax进行访问，因此，登陆成功之后，可能ajax进行更新，导致preURL发生改变，会变为某次ajax的url（例如/ajax/contests）．
可能需要检测，如果是/ajax/xxx则重定向到某个网页，前端可以提供这个网页的url

[2016-09-28 07:18] zarcoder opened #110 "Rank导出没有做异常处理"
CSEOJ版本
比赛为私有，参与人员为空的时候，点击ranklist直接出错
可能是用户为空的时候没有做异常处理
具体链接：
http://219.216.96.122/contest/1/ranklist

[2016-09-28 07:30] VOID001 commented on #110
Not so urgent, we don't need empty user list now, will fix later

[2016-10-02 12:16] Jinming-Su commented on #109
My fault, fixed

[2016-10-02 12:16] #109 closed, assigned to nobody

[2016-10-03 13:03] #28 closed

[2016-10-07 11:20] THE-cattail opened #111 "I can't visit some pages."
like http://oj.neu.edu.cn/contest/33/status/p/1?username=&pid=762&lang=All&result=All

[2016-10-08 10:56] VOID001 opened #112 "A+B Problem is deleted by shoucan yangcong"
We need to fix it ASAP @onionwyl

[2016-10-08 10:58] VOID001 opened #113 "Invalid submission not removed"
@onionwyl

[2016-10-09 01:35] VOID001 commented on #112
Fixed

[2016-10-09 01:35] #112 closed, assigned to onionwyl

[2016-10-09 01:35] VOID001 commented on #113
Fixed

[2016-10-09 01:35] #113 closed, assigned to nobody

[2016-10-09 01:37] VOID001 commented on #111
pid should be the problem id in contest not the real problem id

[2016-10-09 02:21] VOID001 commented on #92
@onionwyl

[2016-10-09 02:22] VOID001 commented on #92
Urgent

[2016-10-09 02:23] VOID001 commented on #48
Fixed, @su526664687 please add error message when importing User List

[2016-10-09 02:26] VOID001 commented on #90
Done

[2016-10-09 02:26] #90 closed

[2016-10-09 02:27] #59 closed

[2016-10-09 02:27] #78 closed

[2016-10-09 02:28] #9 closed

[2016-10-09 02:28] #10 closed

[2016-10-09 02:28] #83 closed

[2016-10-09 02:45] VOID001 opened #114 "Some ranklist cannot export"
http://oj.neu.edu.cn/contest/29/ranklist

This cannot export

[2016-10-12 08:37] 20143717 opened #115 "Old-OJ and New-OJ return the difference answer"
老OJ运行编号70225，同样的C语言代码到新OJ就CE了〒_〒

[2016-10-12 09:37] 20143717 opened #116 "后台测试数据正常? -- 后台有的题目时间限制为0s"
新OJ题目编号为130到174的VIJOS系列题目，在老OJ和VIJOS都AC的代码在新OJ会报RE，加了多组数据的判断也一样RE

[2016-10-12 13:32] Linchen-Xu opened #117 "Problem 705现在只能从Training才能进"
![test](https://cloud.githubusercontent.com/assets/22527265/19312020/49d98f66-90c3-11e6-92ef-a7aeb6d4149c.jpg)

如图，从Unsolved Problems或者Problem id进，就会出现这种情况

[2016-10-12 14:18] Jinming-Su opened #118 "profile save保存后应该给用户一点反馈"
rt

[2016-10-13 04:52] zhouziqunzzq opened #119 "Problem 496小小的排版问题"
Problem 496的Input区域描述文本换行有问题，使得文本超出范围。

[2016-10-16 02:44] Jinming-Su opened #120 "实现在profile页面，点击save给用户反馈"
可能后端进行一次重定向到本页面

[2016-10-16 11:37] VOID001 commented on #115
请提供相应的runid

[2016-10-16 11:42] 20143717 commented on #115
new-oj runid 14639
old-oj runid 70225

[2016-10-16 11:53] VOID001 commented on #115
[code]

上面说的很清楚了 目前OJ没有支持C99所以你这个代码没通过编译，你可以用C++提交这样就运行这种形式的了

[2016-10-16 11:53] VOID001 commented on #115
duplicated

[2016-10-16 11:53] #115 closed, assigned to nobody

[2016-10-16 12:01] VOID001 commented on #117
@onionwyl

[2016-10-16 12:11] zarcoder opened #121 "Contest的里面某个题目的status"
显示的是整个比赛的status
是忘记过滤了么？

[2016-10-16 12:18] VOID001 commented on #121
那个按钮就是为了跳转到整个status页面的 如果想看某一个题目的status点击的是AC/Submission旁边的数字

[2016-10-16 12:18] #121 closed, assigned to nobody

[2016-10-16 12:18] VOID001 commented on #121
Not a bug

[2016-10-16 13:01] Jinming-Su commented on #119
人工手动调节

[2016-10-16 13:02] Jinming-Su commented on #118
和#120重复了

[2016-10-16 13:02] #118 closed, assigned to nobody

[2016-10-18 14:11] onionwyl opened #122 "Rating页面顶部未变颜色"
![image](https://cloud.githubusercontent.com/assets/11586002/19481216/cad5bafc-957f-11e6-8aa7-377f01a63e1f.png)

[2016-10-18 15:02] xjkdev commented on #85
同时也没有c99...

[2016-10-18 23:27] VOID001 commented on #85
感谢反馈， 我们会尽快支持的

[2016-10-18 23:28] VOID001 commented on #116
这种问题请麻烦提供RunID

[2016-10-19 02:47] VOID001 commented on #116
你好,感谢你的反馈, 不过很遗憾的是, 我们没有办法通过你的反馈确定具体问题所在,或者重现你遇到的问题, 如果可以的话请提供给我们更详细的信息,如加入截图,具体描述你遇到问题的整个过程,以便于我们重现和分析问题,如果我们在3天内没有收到更具体的信息,我们将会关闭掉这个issue,你可以在需要的时候再次提交新的issue

[2016-10-19 02:58] 20143717 commented on #116
我和老师反映过了，修改了一部分题的测试时限，还是有一些的测试时限仍是0s，例如runid14660，就是题目ID130到174中一些题测试时限是0s，交代码RE

[2016-10-19 03:13] VOID001 commented on #116
查证的确有题目时间限制为0, 我们会尽快修复 谢谢反馈

[2016-10-21 16:35] satouriko opened #123 "Profile页面的问题"
上传超过 1M 的头像就会 Whoops, looks like something went wrong.
选择头像这里前端排版有问题
![image](https://cloud.githubusercontent.com/assets/18373361/19605669/dbdf16ec-97ee-11e6-9e8b-630eafc76db3.png)

[2016-10-22 03:34] VOID001 commented on #123
前端问题， 我们会尽快修复

[2016-10-22 03:58] satouriko commented on #85
**请尽快
因为看到很多新人学C++都是用C++ Primer第五版**

[2016-10-22 04:06] satouriko commented on #85
希望这个被标记为urgent，第五版的书上来就介绍很多新特性，比如auto，范围for语句，oj过不了（因此让他们回去看第四版嘛觉得这样做好奇怪啊）
望速改善，翘足企首以待

[2016-10-22 06:33] VOID001 commented on #85
This will be a main feature when NEUOJ 2.0 released

[2016-10-22 15:37] Jinming-Su commented on #81
fixed

[2016-10-22 15:37] #81 closed

[2016-10-22 15:40] Jinming-Su commented on #48
fixed

[2016-10-22 15:40] #48 closed

[2016-10-23 17:32] onionwyl commented on #117
这道题是被后台锁了，所以无法访问

[2016-10-23 17:36] onionwyl commented on #119
Fixed

[2016-10-23 17:37] #119 closed, assigned to nobody

[2016-10-24 16:20] VOID001 commented on #123
FIxed

[2016-10-24 16:20] #123 closed, assigned to Jinming-Su

[2016-10-24 16:21] VOID001 commented on #122
FIxed

[2016-10-24 16:21] #122 closed, assigned to nobody

[2016-10-24 16:24] VOID001 commented on #117
这也是bug 因为放在那里的按照道理就应该允许访问 现在访问不了 那个题目应该是属于某一个training的， 想办法解决一下

[2016-10-24 16:24] VOID001 commented on #114
#110

[2016-10-24 16:25] #108 closed, assigned to nobody

[2016-10-24 16:25] #75 closed

[2016-10-24 16:26] VOID001 commented on #54
When New Jugehost Online These problems will deprecated

[2016-10-24 16:30] VOID001 commented on #105
This will mark ,if it happens again, we will dig in it

[2016-10-30 09:29] Jinming-Su opened #124 "Front: problem.list"
鼠标移动到导航栏上，就出现这种诡异的情况了
![1](https://cloud.githubusercontent.com/assets/16068384/19835581/5057308a-9ec6-11e6-9d1c-f7cd5ec254de.png)
![2](https://cloud.githubusercontent.com/assets/16068384/19835582/53a77a06-9ec6-11e6-8871-99d2d9444e64.png)

[2016-11-04 12:34] Jinming-Su opened #125 "创建比赛，题目颜色不被保存，更新比赛后，题目颜色数据自动全部自动变为0"
题目颜色数据在比赛更新的时候，数据表中全部变成0；而且在比赛创建的时候，即使选择了颜色，也不会被保存到数据库中，数据库中problem_color仍然是0

[2016-11-04 12:51] Jinming-Su opened #126 "Frontend: 错误提示信息显示排版问题"
![screenshot from 2016-11-04 20-46-29](https://cloud.githubusercontent.com/assets/16068384/20005913/f642e338-a2cf-11e6-8a33-efd51ea4e5a0.png)

需要把NEUOJ中所有有关错误信息显示的页面都检查一遍，并同意排版布局调色
包括 登录，注册， 讨论， add/set题目，add/set比赛，add/set训练等

[2016-11-06 17:05] onionwyl opened #127 "所有用户可以查看任意contest的ranklist"
RT
![image](https://cloud.githubusercontent.com/assets/11586002/20039833/4a7521e8-a486-11e6-8e5e-b81007481b85.png)
修改contest_id即可访问

[2016-11-06 17:08] onionwyl opened #128 "Frontend: contest的ranklist页面包含了2个footer"

[2016-11-07 06:40] morejarphone opened #129 "[Feature]关于oj建设的建议"
1.增加special judge的功能(可以增加一波题目类型和质量
2.题面描述增加插入图片的功能
3.(知不知道题面可不可以弄成支持markdown语法这样的东西逃~)

[2016-11-07 06:42] VOID001 commented on #129
1. 这个在新的测评端支持之后就会支持的
   2.3 我们会一起做， 后续会考虑支持Markdown的哦

[2016-11-14 15:12] zarcoder opened #130 "Export功能失效"
请修改！

[2016-11-14 15:45] liboyang77 opened #131 "chrmoe下table变白问题"
![qq 20161114234406](https://cloud.githubusercontent.com/assets/9634415/20271018/4980163c-aac4-11e6-8e54-0639560a3962.png)
chrom下当鼠标移动到table上时会出现图中问题，IE显示是正常的

[2016-11-16 16:48] Asm-Def opened #132 "用户本地浏览器禁用Cookie时Laravel会抛出异常，影响用户体验"
### 如题，
### 用户在浏览器中禁用并删除Cookie时Laravel会抛出 TokenMismatchException，影响用户体验，建议添加手动判断

http://219.216.96.46/Lbyang/NEUOJ/uploads/884870e4e61f2a663066cd127a0da2fd/image.png
![image](https://cloud.githubusercontent.com/assets/8137814/20356475/97d10de0-ac5f-11e6-942b-d5278f69236c.png)

[2016-11-20 08:27] VOID001 commented on #130
请提供具体重现步骤

[2016-11-20 08:28] VOID001 commented on #131
这个问题我们应该已经修复，请用Chrome再次测试是否存在相应问题

[2016-11-24 15:37] jinqianzhang opened #133 "关于select头像时小手图案变化的问题"
当鼠标指在select时，鼠标并不变化，只有鼠标位于select和边框之中的位置时，鼠标才会变成小手图案

[2016-11-25 13:39] Jinming-Su commented on #128
fixed

[2016-11-25 13:39] #128 closed, assigned to nobody

[2016-11-25 13:49] Jinming-Su opened #134 "socket.io：聊天室在线人数显示"
目前显示的数量存在的socket.io的连接数量，举个例子，如果同一用户打开多个页面，就会计算多次。之后希望加上各个频道的在线人数。

[2016-11-27 02:03] Jinming-Su commented on #133
fixed

[2016-11-27 02:03] #133 closed, assigned to nobody

[2016-11-27 02:06] Jinming-Su commented on #124
fixed

[2016-11-27 02:06] #124 closed, assigned to nobody

[2016-11-27 02:08] Jinming-Su commented on #106
图片存储问题解决了吗？

[2016-12-06 14:30] LeeeeoLiu commented on #110
fixed,当用户为空时,返回 ranklist 页面。

[2016-12-06 14:31] LeeeeoLiu commented on #92
## fixed

[2016-12-06 14:34] LeeeeoLiu commented on #114
这个contest 没有存在了,是和110一样的 bug 么?

[2016-12-06 15:05] LeeeeoLiu commented on #127
fixed

[2016-12-11 12:39] w-mj opened #135 "发现一个小问题"
当在Chrome中使用有道词典划词翻译后，最下面蓝色的版权信息会跑到页面上来。
![image](https://cloud.githubusercontent.com/assets/10459125/21080113/d41e720c-bfe1-11e6-90bd-56bf7e70ea3f.png)

[2016-12-14 04:48] #92 closed

[2017-02-02 10:37] flyhero99 opened #136 "OJ判题状态一直是Pending"
在OJ上交了一道题，当时刷新了几次都一直是Pending，以为是服务器忙，结果过了一个半小时再刷新还是Pending，这时候把原来代码原封不动重新交一次却显示AC了
![image](https://cloud.githubusercontent.com/assets/23097808/22546100/8ff18786-e976-11e6-89f8-2d4bd8ed4eb6.png)
P.S不知道什么时候开始我的电脑用OJ交题都需要刷新一下才能看见是AC还是WA之类的，而不是响应一会直接出来，请问这是怎么回事。。。-_-||

[2017-02-03 10:04] VOID001 commented on #136
感谢反馈，第一个问题我们会调查一下原因
第二个是因为服务器负载过大，我们暂时关闭了判题结果实时刷新

[2017-02-05 12:07] #127 closed, assigned to nobody

[2017-03-19 01:48] VOID001 opened #137 "Ranklist crashed on private contest, when no submission made"
RT

Please fix the bug ASAP

[2017-03-19 02:08] VOID001 opened #138 "Ranklist Should Use Paging"
Load too slow now
when more than 500 person take part in

[2017-03-19 15:20] VOID001 opened #139 "Frontend bug: Dashboard 的侧边栏点击有bug"
如图
![image](https://cloud.githubusercontent.com/assets/6134883/24082060/7aeb54e6-0cfa-11e7-8fe7-5f10d65eb6ba.png)
当Managment展开的时候无法点击Executable Language 等菜单项

以及当滚动条下拉到最下方的时候， 左边的Managment也不能点

Chrome 57

[2017-03-20 13:44] huangmeixue opened #140 "Front Issue:富文本框图片上传慢"
就是点击"添加文件"按钮时,打开文件慢,以致重复点击"添加文件"按钮,使图片不能成功上传

[2017-03-20 13:54] LeeeeoLiu commented on #135
其他 problem 页面划词翻译也会出现这个问题么????

[2017-03-20 13:55] LeeeeoLiu commented on #134
fixed

[2017-03-23 05:49] NEUOJ-Issue opened #141 "Bug from oj"
测试从OJ发送ISSUE功能

[2017-03-23 06:24] NEUOJ-Issue commented on #141
dfsfsdfsdfsadfsda

[2017-03-23 06:24] NEUOJ-Issue commented on #141
sdfsdfsadf

[2017-03-23 06:24] NEUOJ-Issue commented on #141
sdfsdfdsa

[2017-03-23 06:26] #141 closed, assigned to nobody

[2017-03-24 07:09] NEUOJ-Issue opened #142 "项目内容bug"
项目内容有很大的漏洞111111111

[2017-03-24 07:09] #142 closed, assigned to nobody

[2017-03-24 07:27] NEUOJ-Issue opened #143 "测试BUG Report Bot"
测试测试测试

[2017-03-24 07:27] #143 closed, assigned to nobody

[2017-03-24 07:34] NEUOJ-Issue opened #144 "测试NEUOJ BOT LABEL"
测试NEUOJ BOT LABEL

[2017-03-26 02:33] #144 closed, assigned to nobody

[2017-03-26 02:34] VOID001 opened #145 "记录用户默认提交用语言"
RT,目前很多用户使用C++提交,然而每次提交都要选择一下C++,很不方便,请尽快修复

[2017-03-31 12:42] #130 closed, assigned to nobody

[2017-03-31 12:42] #125 closed, assigned to nobody

[2017-03-31 12:43] #111 closed, assigned to nobody

[2017-03-31 12:43] VOID001 commented on #129
Special Judge的日程应该提前@onionwyl

[2017-04-09 09:50] whoisnian opened #146 "比赛机房禁止访问外网，oj加载一些css缓慢"
比赛期间是禁止访问外网的，然后火狐浏览器打开oj的页面时候左下角一直显示“加载XXXX”，可能是比赛期间oj访问极慢的原因之一

[2017-04-09 10:09] whoisnian opened #147 "oj的contest存在漏题风险"
4月7日周五中午在oj上偶然看到的
[手机截图](https://whitewings.cn/share/upload/2017-4-7-phone-screenshot.PNG)
4月9日周日下午比赛题目
[比赛题目](https://whitewings.cn/share/upload/2017-4-9-contest.png)

[2017-04-09 10:10] whoisnian commented on #147
在GitHub网页上传图片总是失败，只能把链接放这里了

[2017-04-09 10:10] LeeeeoLiu commented on #147
收到

[2017-04-09 10:13] onionwyl commented on #146
有没有打开console看到什么css加载失败

[2017-04-12 08:53] zarcoder opened #148 "布局出错了"
![_20170412165243](https://cloud.githubusercontent.com/assets/2095041/24949530/86b026b8-1fa0-11e7-80f9-662db489bf6f.png)

[2017-05-09 08:23] VOID001 commented on #147
@whoisnian You https cert is not valid

[2017-05-09 08:27] VOID001 opened #149 "非法修改网址过后出现的无限302重定向错误"
By @xiaoyu2016

呐现在, 如果是把 oj.neu.edu.cn/training/2 的2改成题库列表中不存在的值( num >2 ) 则可能会造成无限302重定向错误：
"该网页无法正常运作 oj.neu.edu.cn 将您重定向的次数过多。尝试清除Cookie.ERR_TOO_MANY_REDIRECTS"
还有一定几率会爆出当前用户头像和主页logo。

[2017-05-09 08:37] whoisnian commented on #147
@VOID001
Because I reset the server when I deleted my blog on wordpress.
Now I have updated the links.

[2017-05-22 13:09] onionwyl opened #150 "oj稳定性"
优化锁的逻辑，分布式(etcd)，mysql参数调优，服务器从apache换为nginx，优化ranklist，添加报警(数据库，judgehost，服务器端)，前端压缩，表加索引

[2017-05-23 01:56] onionwyl opened #151 "contest页面 Ac/Submission点击ac数不能正确filter"

[2017-06-06 13:57] #146 closed, assigned to nobody

[2017-06-06 13:58] #147 closed, assigned to nobody

[2017-06-06 13:59] VOID001 commented on #85
Done

[2017-06-06 13:59] #85 closed

[2017-06-06 13:59] honmameiko22 opened #152 "Backend 添加比赛中，后端应对日期的格式进行检查"
![qq 20170606215740](https://cloud.githubusercontent.com/assets/27492582/26832838/4d694fe0-4b03-11e7-8a57-57af3e59b0a2.png)
添加时间错误，导致时间为空。

[2017-06-06 14:00] VOID001 commented on #152
请提供你使用的浏览器
以及你是输入的时间还是从日期选择器中选择的时间？

[2017-06-06 14:02] honmameiko22 commented on #152
火狐
直接输入时间，点击输入框的时候没有弹出日期选择器

[2017-06-06 14:04] VOID001 commented on #152
请使用Chrome OwO，火狐目前对Date Picker支持的不好，后续我们会对 Firefox 进行兼容

[2017-06-06 14:04] honmameiko22 commented on #152
好的

[2017-06-06 14:06] VOID001 commented on #152
bug引起原因推测为只有前端对Date进行了check，后端也应对其进行检查。

[2017-06-09 00:59] whoisnian opened #153 "Contest中ranklist排名不正确"
[CPP-2017-类（1）的Ranklist](https://oj.neu.edu.cn/contest/61/ranklist)
![tim 20170609084540](https://user-images.githubusercontent.com/23057947/26956618-a55da954-4cf1-11e7-9ec3-900fbdabc53e.png)
12 : 58 : 22在111 : 06 : 07后，下面还有类似的，感觉是把两个时间以字符串的形式比较的。

[2017-06-09 06:53] VOID001 commented on #153
@onionwyl

[2017-06-10 14:42] #153 closed, assigned to nobody

[2017-08-03 05:00] Jinming-Su opened #154 "[FrontEnd]登录页面布局在大屏电脑上乱了"
验证码图标位置出问题了
![1](https://user-images.githubusercontent.com/16068384/28906633-7328fb3e-784b-11e7-9585-ec6c225576dd.png)

另外，建议未登录用户不能看到status一栏
![1](https://user-images.githubusercontent.com/16068384/28906678-b94b7196-784b-11e7-8832-684fe5261b56.png)

[2017-08-11 13:21] DuckSoft opened #155 "broken chinglish in training system"
[code]
https://oj.neu.edu.cn/training

[2017-08-11 13:36] DuckSoft opened #156 "[frontend][training-system] homepage header layout breakdown in lower display resolution"
## info
 - location: https://oj.neu.edu.cn/training
 - native screen resolution: `1024*768`.
 - ua: `Chrome` and/or `Firefox`
## pics
* without zooming, this one looks xtremely ugly:
![1](https://user-images.githubusercontent.com/7822648/29214997-dade7312-7edb-11e7-844e-2ca7f10f33be.png)
* after zooming out a little, now it's okay:
![2](https://user-images.githubusercontent.com/7822648/29214969-bf

[2017-08-11 13:41] DuckSoft opened #157 "[feature-request] adding a lightweight online code editor"

[2017-08-11 13:44] DuckSoft opened #158 "[feature-request] showing ranklist brief in user profile"

[2017-08-11 13:50] DuckSoft opened #159 "[contest-system] invalid contest id leads to a crash screen"
for example, go https://oj.neu.edu.cn/contest/233333 and you will see a crash screen:
![crash_screen](https://user-images.githubusercontent.com/7822648/29215816-10550fc6-7edf-11e7-90bf-f3d232e4aa9e.png)

i don't think it right to show this stuff to users lol

[2017-08-11 15:46] VOID001 commented on #159
Fixed

[2017-08-11 15:46] #159 closed, assigned to nobody

[2017-08-11 15:46] VOID001 commented on #157
No need, for currently no one will write code and debug itin the editor

[2017-08-11 15:46] #157 closed, assigned to nobody